.header {
    @include flexContainer($justify: center);

    width: 100%;
    height: var(--header-height);
    
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

    &__burger-menu {
        display: none;
    }

    &__nav-panel {
        @include flexContainer;

        width: calc(100vw * calc(var(--content-width) / var(--page-width)));
        max-width: calc(var(--content-width) * 1px);
        //height: 80px;
    }
    
    &__link {
        font: {
            size: 0.875rem;
        }
    }

    &__list-links-wrapper {
        @include flexContainer($justify: space-between);
        width: 80%;

    }
    
    &__list-links {
        @include flexContainer($justify: space-around, $align: normal);

        width: calc(100vw * var(--header-links-width) / var(--page-width));
        max-width: calc(var(--header-links-width) * 1px);
        
        list-style: none;
    }

    &__list-icons {
        @include flexContainer($justifySelf: end);

        width: 7%;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &__nav-panel {
            max-width: none;
        }
    
        &__list-links-wrapper {
            justify-content: center;
        }
    
        &__list-icons {
            width: auto;
        }
        
        &__list-links {
            display: none;
        }
        
        &__burger-menu {
            display: block;
        }
    
        &__map-icon {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100vw;

        &__nav-panel {  
            height: var(--header-height);
        }
    }
}