/* ------------ info-block ------------ */

.info-block {
    @include flexContainer($direction: column, $justify: start);
    
    width: calc(100vw * var(--info-block-width) / var(--page-width));
    max-width: calc(var(--info-block-width) * 1px);
    padding: 2rem 0 2rem 0;

    font-size: 0.875rem;

    border-radius: 1rem;
    background-color: $background-color;
    box-shadow: $shadow-box;

    &__banner {
        @include flexContainer($wrap: wrap);
        gap: 1rem;

        padding-bottom: 0.875rem;
        width: calc(100vw * var(--info-block-content-width) / var(--page-width));
        max-width: calc(var(--info-block-content-width) * 1px);
    }

    &__text-field {
        @include flexContainer;
        width: calc(100vw * var(--info-block-content-width) / var(--page-width));
        max-width: calc(var(--info-block-content-width) * 1px);
    }

    &__list {
        @include flexContainer($wrap: wrap, $justify: start, $align: normal);
        width: calc(100vw * var(--info-block-content-width) / var(--page-width));
        max-width: calc(var(--info-block-content-width) * 1px);
        padding-bottom: 2rem;

        gap: 1rem;
        list-style: none;
    }

    &__hover {
        width: calc(100vw * var(--info-block-content-width) / var(--page-width));
        max-width: calc(var(--info-block-content-width) * 1px);
    }

    &__button {
        @include flexContainer($justify: center);
        text-align: center;

        width: calc(100vw * var(--info-block-content-width) / var(--page-width));
        max-width: calc(var(--info-block-content-width) * 1px);
        height: 3rem;

        border-radius: 0.5rem;
        background-color: #039BE5;

        text-decoration: none;

        font-size: 1.125rem;
        color: $page-color;
    }
}

@media screen and (max-width: 1200px) {
    .info-block {
        max-width: none;

        &__banner {
            max-width: none;
        }
        
        &__list {
            max-width: none;
        }
    
        &__text-field {
            max-width: none;
        }
    
        &__hover {
            max-width: none;
        }
    
        &__button {
            max-width: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .info-block {
        padding: 1rem 0 1rem 0;

        .text-box__paragraph {
            font-size: 0.75rem;
        }
    
        &__banner &__text-field {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .text-box__paragraph_highlight,
        .text-box__paragraph_bold {
            font-size: 0.875rem;
        }
    }
}