/* ------------ main ------------ */

.main {
    @include flexContainer($justify: space-around, $direction: column);

    width: calc(100vw * var(--content-width) / var(--page-width));
    height: calc(100vw * var(--page-height) / var(--page-width));
    max-width: calc(var(--content-width) * 1px);
    max-height: calc(var(--page-height) * 1px);
}

/* ------------ page ------------ */


.page {
    @include flexContainer($justify: space-around, $direction: column);
    background-color: $page-color;
}

@media screen and (max-width: 1200px) {
    /* ------------ main ------------ */

    .main {
        max-width: none;
    }
}

@media screen and (max-width: 767px) {
    .main {
        height: calc(var(--page-height) - 
            var(--header-height) - var(--footer-height));
        max-height: none;

        width: 100%;
    }

    /* ------------ page ------------ */

    .page {
        overflow-x: hidden;
    }
}