/* ------------ materials-block ------------ */

.materials-block {
    @include flexContainer($justify: center);

    width: 100%;
    height: calc(100vw * var(--materials-block-height) / var(--page-width));
    max-height: calc(var(--materials-block-height) * 1px);
    
    border-radius: 1rem;
    background-color: $background-color;
    box-shadow: $material-box-shadow;

    &__wrapper {
        @include flexContainer($wrap: wrap);
        width: calc(100vw * var(--material-block-wrapper-width) / var(--page-width));
        height: calc(100vw * var(--material-block-wrapper-height) / var(--page-width));
        max-width: calc(var(--material-block-wrapper-width) * 1px);
        max-height: calc(var(--material-block-wrapper-height) * 1px);
    }
    
    &__box {
        @include flexContainer($direction: column, $align: normal);
        width: calc(100vw * var(--materials-block-content-width) / var(--page-width));
        height: calc(100vw * var(--materials-block-content-wrapper-image-height) / var(--page-width));
        max-width: calc(var(--materials-block-content-width) * 1px);
        max-height: calc(var(--materials-block-content-wrapper-image-height) * 1px);

        border-bottom: 1px solid $materials-content-border-color;
    }

    &__box-wrapper {
        @include flexContainer($direction: column, $align: normal);
        height: calc(100vw * var(--materials-block-content-image-height) / var(--page-width));
        max-height: calc(var(--materials-block-content-image-height) * 1px);
    }

    &__image {
        width: 100%;
        height: calc(100vw * var(--materials-block-image-height) / var(--page-width));
        max-height: calc(var(--materials-block-image-height) * 1px);
        
    }

    &__data-text {
        font-size: 0.75rem;
        color: $data-color;
    }

    &__header {
        font-size: 1.5rem;
        color: $text-color;

        &_light {
            font: {
                size: 1rem;
                weight: 400;
            }
        }
    }
    
    
    &__box-text-wrapper {
        @include flexContainer($justify: space-around);
        height: calc(100vw * var(--materials-block-content-wrapper-text-height) / var(--page-width));
        max-height: calc(var(--materials-block-content-wrapper-text-height) * 1px);
    }

    &__box-text {
        @include flexContainer($wrap: wrap, $justify: space-around, $align: normal, $direction: column);
        height: calc(100vw * var(--materials-block-content-wrapper-text-height) / var(--page-width));
        max-height: calc(var(--materials-block-content-wrapper-text-height) * 1px);
        gap: 0.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .frame:last-child {
        display: none;
    }
}   