/* ------------ fonts ------------ */

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

/* ------------ reset ------------ */

:root {
    font-family: Roboto;
    font-size: 16px;
    color: #162136; 

    --page-width: 1440;
    --page-height: 3117;
    --content-width: 1312;

    --header-height: 80px;
    --header-links-width: 1000;

    --text-box-width: 640;
    --text-box-image-width: 347.78;
    --text-box-image-height: 300;

    --info-block-width: 304;
    --info-block-content-width: 240;
    
    --materials-block-height: 731;
    --material-block-wrapper-width: 1252;
    --material-block-wrapper-height: 636;
    --materials-block-content-width: 394.66;
    --materials-block-content-wrapper-image-height: 393.8;
    --materials-block-content-image-height: 344.8;
    --materials-block-content-wrapper-text-height: 121;
    --materials-block-content-text-height: 72;
    --materials-block-image-height: 250;
    
    --footer-height: 88px;
    --footer-wrapper-width: 1324;
    --footer-wrapper-height: 24;
    --footer-info-box-width: 583;
    --footer-icons-box-width: 266;
}
    
*, ::after, ::before {
    border: 0;
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

/* ------------ header ------------ */

.header {
    display: flex;
    justify-content: center;

    width: 100%;
    height: var(--header-height);
    
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.header__burger-menu {
    display: none;
}

.header__nav-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100vw * calc(var(--content-width) / var(--page-width)));
    max-width: calc(var(--content-width) * 1px);
    height: 80px;
}

.header__link {
    font-size: 0.875rem;
}

.header__list-links-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    width: calc(100vw * var(--header-links-width) / var(--page-width));
    max-width: calc(var(--header-links-width) * 1px);
}

.header__list-links {
    display: flex;
    justify-content: space-around;

    width: 100%;
    list-style: none;
}

.header__list-icons {
    display: flex;
    justify-content: space-between;
    width: 7%;
    justify-self: end;
}

/* ------------ link ------------ */

.link {
    font: "Roboto" 500;
    text-decoration: none;
    color: #162136;
    box-shadow: 1px 1px 1px 0px #00000001;
}

/* ------------ page ------------ */


.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #EEEEEE;
}

/* ------------ main ------------ */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: calc(100vw * var(--content-width) / var(--page-width));
    height: calc(100vw * var(--page-height) / var(--page-width));
    max-width: calc(var(--content-width) * 1px);
    max-height: calc(var(--page-height) * 1px);

    background-color: #EEEEEE;
}

/* ------------ text-box ------------ */

.text-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    color: #162136;

    width: calc(100vw * var(--text-box-width) / var(--page-width));
    max-width: calc(var(--text-box-width) * 1px);
}

.text-box__header {
    font-size: 2em;
    font-weight: 900;
}

.text-box__image {
    width: calc(100vw * var(--text-box-image-width) / var(--page-width));
    height: calc(100vw * var(--text-box-image-height) / var(--page-width));
    max-width: calc(var(--text-box-image-width) * 1px);
    max-height: calc(var(--text-box-image-height) * 1px);
}

.text-box__paragraph {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Open Sans";
}

.text-box__paragraph_bold {
    font-weight: 700;
}

.text-box__paragraph_align_right {
    text-align: right;
}

.text-box__paragraph_highlight {
    font-size: 1.5em;
    font-weight: 700;
}

/* ------------ frame ------------ */

.frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;

    width: 100%;

    gap: 2rem;

}

/* ------------ scroller ------------ */

.scroller {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 2rem;

    width: 100%;
}

/* ------------ info-block ------------ */

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: calc(100vw * var(--info-block-width) / var(--page-width));
    max-width: calc(var(--info-block-width) * 1px);
    padding: 2rem 0 2rem 0;

    font-size: 0.875rem;

    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 24px 0px #16213629,
        0px -8px 16px 0px #1621360A,
        0px 8px 16px 0px #16213614;

}

.info-block__banner { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    padding-bottom: 0.875rem;
    width: calc(100vw * var(--info-block-content-width) / var(--page-width));
    max-width: calc(var(--info-block-content-width) * 1px);
}

.info-block__text-field{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw * var(--info-block-content-width) / var(--page-width));
    max-width: calc(var(--info-block-content-width) * 1px);
}

.info-block__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    padding-bottom: 2rem;
    width: calc(100vw * var(--info-block-content-width) / var(--page-width));
    max-width: calc(var(--info-block-content-width) * 1px);

    list-style: none;
}

.info-block__hover {
    width: calc(100vw * var(--info-block-content-width) / var(--page-width));
    max-width: calc(var(--info-block-content-width) * 1px);    
}

.info-block__button {
    height: 3rem;
    width: calc(100vw * var(--info-block-content-width) / var(--page-width));
    max-width: calc(var(--info-block-content-width) * 1px);

    border-radius: 0.5rem;
    background-color: #039BE5;

    font-size: 1.125rem;
    color: #FFFFFF;
}

/* ------------ materials-block ------------ */

.materials-block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100vw * var(--materials-block-height) / var(--page-width));
    max-height: calc(var(--materials-block-height) * 1px);
    
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 8px 0px #1621360D;
}

.materials-block__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    width: calc(100vw * var(--material-block-wrapper-width) / var(--page-width));
    height: calc(100vw * var(--material-block-wrapper-height) / var(--page-width));
    max-width: calc(var(--material-block-wrapper-width) * 1px);
    max-height: calc(var(--material-block-wrapper-height) * 1px);

}

.materials-block__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100vw * var(--materials-block-content-width) / var(--page-width));
    height: calc(100vw * var(--materials-block-content-wrapper-image-height) / var(--page-width));
    max-width: calc(var(--materials-block-content-width) * 1px);
    max-height: calc(var(--materials-block-content-wrapper-image-height) * 1px);

    border-bottom: 1px solid #ECEFF1;
}

.materials-block__box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100vw * var(--materials-block-content-image-height) / var(--page-width));
    max-height: calc(var(--materials-block-content-image-height) * 1px);
}

.materials-block__image {
    width: 100%;
    height: calc(100vw * var(--materials-block-image-height) / var(--page-width));
    max-height: calc(var(--materials-block-image-height) * 1px);
}

.materials-block__data-text {
    font-size: 0.75rem;
    color: #687082;
}

.materials-block__header {
    font-size: 1.5em;
    color:#162136;
    text-shadow: 1px 1px 1px 0px #00000001;
}

.materials-block__header_light {
    font-size: 1rem;
    font-weight: 400;
}

.materials-block__box-text-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vw * var(--materials-block-content-wrapper-text-height) / var(--page-width));
    max-height: calc(var(--materials-block-content-wrapper-text-height) * 1px);
}

.materials-block__box-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
    height: calc(100vw * var(--materials-block-content-text-height) / var(--page-width));
    max-height: calc(var(--materials-block-content-text-height) * 1px);
}

/* ------------ footer ------------ */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--footer-height);

    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 400;
    color: #687082;

    background-color: #EBF5FF;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;

    height: var(--footer-wrapper-height);
    width: calc(100vw * var(--footer-wrapper-width) / var(--page-width));
    max-width: calc(var(--footer-wrapper-width) * 1px);
}

.footer__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100vw * var(--footer-info-box-width) / var(--page-width));
    max-width: calc(var(--footer-info-box-width) * 1px);
}

.footer__list-icons {
    display: flex;
    justify-content: space-between;
    justify-self: end;
    align-items: center;

    width: calc(100vw * var(--footer-icons-box-width) / var(--page-width));
    max-width: calc(var(--footer-icons-box-width) * 1px);

    list-style: none;
}

/* ------------ Descktop ------------ */

@media screen and (min-width: 1024px) 
    and (max-width: 1439px){
    
    /* ------------ header ------------ */  
    
    .header__nav-panel {
        width: calc(100% * 1312 / 1440);
    }

    .header__list-links-wrapper {
        width: 100%;
    }

    /* ------------ scroller ------------ */

    .scroller {
        flex-wrap: nowrap;
        width: 100%;

        overflow-x: visible;
        padding: 2.5rem;
        margin: -2.5rem;
    }

    /* ------------ footer ------------ */ 

} 

/* ------------ tablet ------------ */

@media screen and (max-width: 1023px) {

    /* ------------ root ------------ */
    :root {

    --page-width: 768;
    --page-height: 2789;
    --content-width: 736;

    --header-height: 80px;
    --header-links-width: 1;

    --text-box-width: var(--content-width);
    --text-box-image-width: 230;
    --text-box-image-height: 198.28;

    --info-block-width: 352;
    --info-block-content-width: 304;
    
    --footer-height: 88px;
    --footer-wrapper-width: var(--content-width);
    --footer-wrapper-height: 24;
    --footer-info-box-width: 583;
    --footer-icons-box-width: 266;
    }

    /* ------------ header ------------ */

    .header__nav-panel {
        max-width: none;
    }

    .header__list-links-wrapper {
        justify-content: center;
    }

    .header__list-icons {
        width: auto;
    }
    
    .header__list-links {
        display: none;
    }
    
    .header__burger-menu {
        display: block;
    }

    .header__map-icon {
        display: none;
    }

    /* ------------ main ------------ */

    .main {
        max-width: none;
    }

    /* ------------ scroller ------------ */

    .scroller {
        max-width: none;
        flex-wrap: wrap;
    }

    /* ------------ frame ------------ */

    .frame:first-child {
        display: flex;
        flex-wrap: nowrap;
    }

    .frame:first-child .text-box {
        width: calc((100vw * 385) / var(--page-width));
    }

    /* ------------ text-box ------------ */

    .text-box {
        max-width: none;
    }

    .text-box__image {
        max-width: none;
        max-height: none;
    }

    .text-box__header {
        font-size: 1.5rem;
    }

    /* ------------ info-block ------------ */

    .info-block {
        max-width: none;
    }

    .info-block__banner {
        max-width: none;
    }
    
    .info-block__list {
        max-width: none;
    }

    .info-block__text-field {
        max-width: none;
    }

    .info-block__hover {
        max-width: none;
    }

    .info-block__button {
        max-width: none;
    }

    /* ------------ materials-block ------------ */

    .frame:last-child {
        display: none;
    }

    /* ------------ footer ------------ */
    
    .footer__info-box .text-box__paragraph {
        display: none;
    }

    .footer__wrapper {
        max-width: none;
    }
}

/* ------------ smartphone ------------ */

@media screen and (max-width: 767px) {

     /* ------------ root ------------ */

    :root {
        --page-width: 320;
        --page-height: 1683px;
        --content-width: 288;

        --header-height: 48px;

        --text-box-width: var(--content-width);

        --info-block-width: 212;
        --info-block-content-width: 180;
        
        --footer-height: 48px;    
    }

    /* ------------ page ------------ */

    .page {
        overflow-x: hidden;
    }

    /* ------------ main ------------ */

    .main {
        height: calc(var(--page-height) - 
            var(--header-height) - var(--footer-height));
        max-height: none;

        width: 100%;
    }

    /* ------------ header ------------ */
    .header {
        width: 100vw;
    }

    .header__nav-panel {  
        height: var(--header-height);
    }

    /* ------------ text-box ------------ */
    
    .text-box {
        width: 100%;
        min-width: 288px;
        gap: 0.5rem;
    }
    
    .text-box__paragraph {
        font-size: 0.75rem;
    }

    .frame:first-child .text-box__paragraph {
        font-size: 1rem;
    }

    .text-box__header {
        font-size: 1.25rem;
    }

    .text-box__image {
        display: none;
    }

    /* ------------ frame ------------ */

    .frame {
        align-content: space-between;
        width: calc(100vw * var(--content-width) / var(--page-width));
    }

    /* ------------ scroller ------------ */

    .scroller {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        
        overflow-x: scroll;

        padding: 2rem;
        margin: -2rem;
    }

    .scroller::-webkit-scrollbar {
        width: 0;
    }

    /* ------------ info-block ------------ */

    .info-block {
        padding: 1rem 0 1rem 0;
    }


    .info-block .text-box__paragraph {
        font-size: 0.75rem;
    }

    .info-block__banner .info-block__text-field {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .info-block .text-box__paragraph_highlight,
    .info-block .text-box__paragraph_bold {
        font-size: 0.875rem;
    }

    /* ------------ footer ------------ */

    .footer__wrapper {
        justify-content: center;
    }

    .footer__list-icons {
        display: none;
    }

    .footer__info-box {
        width: auto;
    }
}